.about-page {
  padding-left: 5rem;
  margin-top: 5rem;
  font-family: "Urbanist", sans-serif;
  display: flex;
  gap: 10rem;
}

.about-page p {
  font-size: var(--font-size-xs);
  line-height: 1.6;
  color: var(--primary-black);
  margin-bottom: 2rem;
}

.about-page a {
  color: var(--primary-black);
  transition: all 0.3s;
}
.about-page a:hover {
  text-decoration: underline;
  color: var(--hover-black);
}

.logo-about {
  font-family: "DM Serif Display", serif;
  font-size: 9.6rem;
  text-align: center;
  width: 100%;
  color: var(--primary-black);
}
