/* FONT SCALE */
/*  */

/*
0 - 768px:        Phone
768 - 900px:      Tablet portrait
900 - 1200px:     Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :        Big Desktop
*/

/*
breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

  1 em = 16px
*/

:root {
  /* COLORS */
  --primary-black: #242325;
  --primary-white: #fffffa;
  --primary-red: #ef233c;

  --secondary-black: #929192;

  --hover-black: #7c7b7c;

  /* FONT */
  --font-size-xxl: 4rem;
  --font-size-xl: 3rem;
  --font-size-lg: 2.4rem;
  --font-size-md: 2rem;
  --font-size-sm: 1.6rem;
  --font-size-xs: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;

  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--primary-white);
}

@media (min-width: 1800px) {
  html {
    font-size: 75%; /* equivalent to 12px (75% of 16px) */
  }

  .buttons-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

@media (max-width: 1800px) {
  .buttons-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%; /* equivalent to 9px (56.25% of 16px) */
  }

  .portfolio {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
  }

  .project-card {
    height: 20rem;
    width: 20rem;
  }

  .project-card img {
    height: 20rem;
    width: 20rem;
  }

  .buttons-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%; /* equivalent to 8px (50% of 16px) */
  }

  .portfolio {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
  }

  .project-card {
    height: 25rem;
    width: 25rem;
  }

  .project-card img {
    height: 25rem;
    width: 25rem;
  }

  .buttons-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }

  .policy-content {
    grid-template-columns: 1fr;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .about-page {
    padding: 3rem 5rem;
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: column;
  }

  .portfolio {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .contact-form {
    max-width: 100%;
    margin-right: 5rem;
  }

  .project-page {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
  }

  .project-image-p {
    width: 80%;
    height: 50rem;
    margin: 0 auto;
    object-fit: cover;
  }

  .project-info {
    width: 80%;
    margin: 5rem auto;
  }

  .image-picker {
    margin: 0 auto;
  }

  .nav-bar {
    padding: 0 2rem;
  }

  .nav-bar--container {
    padding: 1rem;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    font-size: var(--font-size-xs);
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
  }

  .nav-item:hover {
    transform: scale(1.03);
  }

  .nav-toggle {
    display: block;
  }

  .nav-bar--container {
    display: none;
  }

  .nav-bar--container.open {
    display: block;
    padding: 1rem 0;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    padding: 10px;
    text-align: center;
  }

  .buttons-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

body {
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
