.contact-page {
  max-height: 100vh;
  padding: 20px;
  margin-left: 5rem;
  font-family: "Urbanist", sans-serif;
  position: relative;
}

.contact-page h1 {
  margin-bottom: 4rem;
  font-size: var(--font-size-xxl);
  font-weight: 300;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.input {
  margin-bottom: 1.5rem;
}

.input label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--font-size-xs);
  font-weight: 200;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  border-bottom: 1.5px solid var(--primary-black);
  font-size: var(--font-size-xs);
  font-family: "Urbanist", sans-serif;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 1.5px solid var(--primary-black);
}

textarea {
  font-family: "Urbanist", sans-serif;
  resize: none;
}

.success-message {
  color: var(--primary-black);
  font-size: 1.6rem;
  font-weight: 300;
}
