.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  padding: 5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: padding 0.3s;
  width: 100%;
}

.header.small {
  padding: 2rem 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.designer-name {
  font-family: "DM Serif Display", serif;
  color: var(--primary-black);
  font-weight: thin;
  font-size: var(--font-size-xxl);
  letter-spacing: -0.5px;
}

.header-link {
  text-decoration: none;
  color: var(--primary-black);
  text-transform: uppercase;
  font-size: var(--font-size-md);
  transition: color 0.3s;
}

.main-link {
  color: var(--primary-black);
  text-decoration: none;
}

.header-link:hover {
  color: var(--hover-black);
}
