.edit-project-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
}

.project-image-container {
  flex: 1;
  padding: 20px;
}

.buttons-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
