/* FONT SCALE */
/*  */

/*
0 - 600px:        Phone
600 - 900px:      Tablet portrait
900 - 1200px:     Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :        Big Desktop
*/

/*
breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

  1 em = 16px
*/

:root {
  /* COLORS */
  --text-color-hover: #aaa;
  --text-color: #333;
  --background-color: #eee;
  --navbar-color: #333;

  /* FONT */
  --default-font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;

  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%; /* equivalent to 9px (56.25% of 16px) */
  }

  .portfolio {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
  }

  .project-card {
    height: 20rem;
    width: 20rem;
  }

  .project-card img {
    height: 20rem;
    width: 20rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%; /* equivalent to 8px (50% of 16px) */
  }

  .portfolio {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
  }

  .project-card {
    height: 25rem;
    width: 25rem;
  }

  .project-card img {
    height: 25rem;
    width: 25rem;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 75%; /* equivalent to 12px (75% of 16px) */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%; /* Decrease font size slightly more for smaller screens */
  }

  .policy-content {
    grid-template-columns: 1fr;
  }

  .footer-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align the content */
  }

  .footer {
    padding: rem; /* Reduce padding */
  }

  .about-page {
    padding: 3rem 5rem;
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: column;
  }

  .portfolio {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .contact-form {
    max-width: 100%;
    margin-right: 5rem;
  }

  .project-page {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
  }

  .project-image-p {
    width: 80%;
    height: 50rem;
    margin: 0 auto;
    object-fit: cover;
  }

  .project-info {
    width: 80%;
    margin: 5rem auto;
  }

  .image-picker {
    margin: 0 auto;
  }

  .nav-bar {
    padding: 0 2rem;
  }

  .nav-bar--container {
    padding: 1rem;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
  }

  .nav-item:hover {
    transform: scale(1.03);
  }

  .nav-toggle {
    display: block; /* Show the toggle button on smaller screens */
  }

  .nav-bar--container {
    display: none; /* Hide the container initially on smaller screens */
  }

  .nav-bar--container.open {
    display: block; /* Show the container when 'open' */
    padding: 1rem 0; /* Adjust padding for small screens */
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    padding: 10px;
    text-align: center;
  }
}

body {
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
