.nav-bar {
  width: 100%;
  background-color: var(--navbar-color);
  position: relative;
  overflow: hidden;
  padding: 0 5rem;
}

.nav-bar--container {
  max-width: 200rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
}

.nav-item {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-item:hover {
  transform: scale(1.05);
}
