.page-title {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 5rem;
}

.policies-page {
  padding: 4rem 5rem;
  overflow-y: auto;
}

.policy-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 5rem;
  align-items: start;
}

.section-title {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 1rem 0;
}

.subtitle {
  text-transform: uppercase;
  margin: 1rem 0;
}

p,
p + ul,
p + ol {
  font-size: 1.4rem;
  font-weight: 300;
}

ul,
ol {
  margin-left: 2rem;
}
