.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  margin-top: 5rem;
}

.not-found-container h1 {
  font-size: 8rem;
  margin: 0;
  font-weight: 200;
  color: var(--primary-black);
}

.not-found-container p {
  font-size: var(--font-size-md);
  margin: 1rem 0;
  color: var(--primary-black);
}

.btn-container {
  margin-top: 5rem;
}
