.button {
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: 1.5px solid var(--primary-black);
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 300;
  font-family: "Urbanist", sans-serif;
  width: 100%;
  font-size: var(--font-size-xs);
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.delete-button {
  background-color: var(--primary-white);
  color: var(--primary-red);
  border: 1.5px solid var(--primary-red);
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 300;
  font-family: "Urbanist", sans-serif;
  width: 100%;
  font-size: var(--font-size-xs);
}

.delete-button:hover {
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.add-button--container {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.button-center-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0 3rem 0;
}

.contact-button--container {
  margin-top: 4rem;
  margin-bottom: 5rem;
}
